<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <ul class="nav  nav-pills">
            <li><h3>Blood Donor Management System (BDMS)</h3></li>
            <button class="btnAllDonor" routerLink="/alldonor"><li role="presentation"  >All Donors</li></button>
            <button class="btnNewDonor" routerLink="/register"><li role="presentation"  >Register</li></button>
            <button class="btnAddRecord" routerLink="/addrecord"><li role="presentation" >Add Record</li></button>
            <button class="btnSearch"  routerLink="/searchblood"><li role="presentation" >Search Blood</li></button>
            <button class="btnLogout" routerLink="/login"><li role="presentation" >Log out</li></button>
        </ul>
    </nav>
<div class="container">
    <div class="panel">
        <div class="row">
            <div class="panel-body">
                <form  [formGroup]="myForm" (ngSubmit)="onSubmit();">
                    <h4>Adding New Record</h4>
                  <div class="form-group label1">
                    <label>Donor Id :</label>
                    <input type="text"  class="form-group"  formControlName="donorId">
                    <!--<p class="text-danger" *ngIf="donorId.invalid">Donor Id is required</p>-->
                  </div>
                    <div class="form-group label2">
                        <label>Donation Date :</label>
                        <input type="date" class="form-group"  formControlName="donationDate">
                      <!--<p class="text-danger" *ngIf="donationDate.invalid">Donation date is required</p>-->
                    </div>
                    <button type="button" class="btn btnCancel" routerLink="/alldonor">Cancel</button>
                    <button type="submit" class="btn btnAdd" [disabled]="myForm.invalid">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
