.container{
    margin: 3% 10% 10% 10%;
}
h3{
    color: #8B0000;
    font-weight: bold;
    margin-right: 15px;
    font-size: 23px;
}
ul{
    margin-left: 15%;
    color: black;
    padding-top: 20px;
}

.btnSearch {
    margin-right: 12px;
    background-color: gray;
}
.btnSearch li{
    color: white;
}
.btnAllDonor {
    margin-right: 12px;
    color: white;
    background-color: #8B0000;
}
.btnAllDonor li{
    color: white;
}
.btnNewDonor {
    margin-right: 12px;
    background-color: gray;
    }
.btnNewDonor li{
    color: white;
        }
.btnLogout {
    margin-right: 12px;
    background-color: gray;
}
.btnLogout li{
    color: white;
}
.btnAddRecord{
  margin-right: 12px;
  background-color: gray;
}
.btnAddRecord li {
  color: white;
}
.panel-body{
    box-sizing: border-box;
    border-color:brown;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px;
    margin-left: 20px;
    padding-top: 12px;
}
form{
    color: black;
    margin-top: 15px;
    margin-bottom: 18px;
}
.label1 label{
    padding-left: 15%;
    margin: 10px;
}
.label2 label{
    padding-left: 10%;
    margin: 15px;
}
.btn {
    background-color:  #8B0000;
    margin-left: 40%;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.panel-body a{
    color: white;
}
label{
    font-weight: bold;
}
